Package: simg2simg
Source: android-platform-system-core
Version: 1:7.0.0+r33-2
Architecture: amd64
Maintainer: Android Tools Maintainers <android-tools-devel@lists.alioth.debian.org>
Installed-Size: 41
Depends: android-libsparse, libc6 (>= 2.2.5), libgcc1 (>= 1:3.0), libstdc++6 (>= 4.1.1), zlib1g (>= 1:1.1.4)
Breaks: android-tools-fsutils (<< 6.0~)
Replaces: android-tools-fsutils (<< 6.0~)
Section: devel
Priority: optional
Homepage: https://android.googlesource.com/platform/system/core
Description: Android sparse image creation tool
 A command line tool to create sparse images for usage with Android devices.
