Source: android-platform-system-core
Section: devel
Priority: extra
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Stefan Handschuh <handschuh.stefan@googlemail.com>,
           Hans-Christoph Steiner <hans@eds.org>
Build-Depends: dh-exec (>= 0.2), debhelper (>=9), libbsd-dev, zlib1g-dev
Standards-Version: 3.9.5
Homepage: https://android.googlesource.com/platform/system/core
Vcs-Git: https://alioth.debian.org/anonscm/git/android-tools/android-platform-system-core.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=android-tools/android-platform-system-core.git

Package: libandroidlog1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Android logging library
 Library providing logging capabilities to android related tools.

Package: libandroidlog-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libc-dev, libandroidlog1 (= ${binary:Version})
Multi-Arch: same
Description: Android logging library - Development files
 Library providing logging capabilities to android related tools.
 .
 This package contains the development files.

Package: libandroidcutils1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Android utils library for C
 This library provides common functionalities for android related tools.

Package: libandroidcutils-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libandroidcutils1 (= ${binary:Version}), libandroidlog-dev (= ${binary:Version}), libbsd-dev
Multi-Arch: same
Description: Android utils library for C - Development files
 This library provides common functionalities for android related tools.
 .
 This package contains the development files.

Package: libandroidzipfile1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Android zipfile library
 Library providing zipfile handling capabilities to android related tools.

Package: libandroidzipfile-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, zlib1g-dev
Multi-Arch: same
Description: Android zipfile library - Development files
 Library providing zipfile handling capabilities to android related tools.
 .
 This package contains the development files.

